# Supabase configuration (Public / Anon keys only)
VITE_SUPABASE_URL=https://pzpplippcdmkmwnzmdbr.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LrMo9PCEEA3mhoJiHfySQA_H3fAylDZ

# App configuration
VITE_APP_URL=https://amiraq.org

# Build Configuration (Optional)
# Set to 'true' to open the bundle analyzer automatically
ANALYZE=false
