<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteRule ^sitemap\.xml$ https://jjsnjbyfpboersvrmxqb.supabase.co/functions/v1/sitemap [R=302,L]
  RewriteRule ^sitemap$ https://jjsnjbyfpboersvrmxqb.supabase.co/functions/v1/sitemap [R=302,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
